<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="{% url 'lojaapp:adminhome' %}">HOME</a> |
        <a href="{% url 'lojaapp:adminpedidolista' %}">TODOS PEDIDOS</a> |
        <a href="{% url 'lojaapp:home' %}" target="_blank">VISITAR A LOJA</a> 

    </div>
    {% block content %}

    {% endblock %}
</body>
</html>