{% extends 'base.html' %}
{% block title %}ADMINISTRADOR{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
        list-style: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>FORMULARIO ADMINISTRADOR</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn-sm btn-success">Entrar</button>
                {% if error %}

                <li style="color: red; list-style-type:none;">{{error}}</li>

                {% endif %}
            </form>
            <p>Se você ainda não é cadastrado? Cadastra-se <a href="{% url 'lojaapp:clienteregistrar' %}{% if request.GET.next%}?next={{request.GET.next}}{% endif %}"> Cadastrar</a></p>
        </div>
    </div>
</div> 

{% endblock %}