{% extends 'base.html' %}
{% load humanize %}
{% block title %}DETALHES DO PEDIDO{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 max-auto">
            <h3>DETALHES DO PEDIDO</h3>
            <hr>
            <p><span class="font-weight-bold"></span><samp>PRODUTO IP: </samp><samp>Pedido_{{pedido_obj.id}}</p></samp>
            <p><span class="font-weight-bold"></span><samp>STATUS DO PEDIDO: </samp><samp>{{pedido_obj.pedido_status}}
            </p></samp>
            <p><span class="font-weight-bold"></span><samp>DATA EFETUADO: </samp><samp>{{pedido_obj.criado_em}}</p>
            </samp>
            <p><span class="font-weight-bold"></span><samp>INFORMACAO DO CLIENTE:
                </samp><samp>{{pedido_obj.ordenando_por}}</p></samp>
            <p><span class="font-weight-bold"></span><samp>TELEFONE DO CLIENTE: </samp><samp>{{pedido_obj.telefone}}</p>
            </samp>
            <p><span class="font-weight-bold"></span><samp>ENDERECO DO CLIENTE:
                </samp><samp>{{pedido_obj.endereco_envio}}</p></samp>
            <p><span class="font-weight-bold"></span><samp>EMAIL DO CLIENTE: </samp><samp>{{pedido_obj.email}}</p>
            </samp>
            <hr>
            <h4>ITEMS DO PEDIDO</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Item</th>
                        <th>Avaliacao</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in pedido_obj.carrinho.carrinhoproduto_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target="blank" href="{% url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{cp.produto.titulo}}{{cp.produto.id}}</a></td>
                        <td>{{cp.avaliacao}}</td>
                        <td>{{cp.quantidade}}</td>
                        <td>R$ {{cp.subtotal}}</td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right"> Valor Total:</th>
                        <th> R$ {{pedido_obj.total|intcomma}}</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}