{% extends 'base.html' %}
{% block title%}{{produto.titulo}}{% endblock %}

{% block content %}
<div class="container">
    <h4>Produto: {{produto.titulo}}</h4><hr>
    <div class="row">
        <div class="col-md-6">
            <img src="{{produto.image.url}}" alt="" class="img-fluid" style="height: 380px; object-fit: cover;">
        </div>
        <div class="col-md-6 text-left">
            <h3>{{produto.titulo}}  ( {{produto.visualizacao}} Visualizações)</h3>
            <h4>Categoria: {{produto.categoria}}</h4>
            <h5>Preço: <strike>R$ {{produto.preco_mercado}}</strike> R$ {{produto.venda}}</h5>
            <p class="text-danger">Garantia: {{produto.garantia}}</p>
            <p class="text-danger">Política Devolução: {{produto.return_devolucao}}</p><hr>
            <p class="text-success">{{produto.descricao}}</p>
            <a href="{% url 'lojaapp:addcarro' produto.id %}" class="btn btn-success">Comprar</a><hr>
        </div>
    </div>
</div>
{% endblock %}
